<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=SQLDB02\SQL2017;Database=PSXDataWarehouse;user id=ipams;password=ipams123;"/>
	  <add name="IpamsConnection" connectionString="Server=SQLDB02\SQL2016;Database=BOP;user id=ipams;password=ipams123;"/>
  </connectionStrings>
  <appSettings>
    <add key="Client" value="BOP" />
    <add key="Alert" value="0" />
    <add key="FundClosingPercentage" value="2" />
  </appSettings>
</configuration>