USE [master]
GO
/****** Object:  Database [PSXDataWarehouse]    Script Date: 10/14/2020 9:51:36 AM ******/
CREATE DATABASE [PSXDataWarehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PSXDataWarehouse', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PSXDataWarehouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PSXDataWarehouse_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PSXDataWarehouse_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSXDataWarehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSXDataWarehouse]
GO
/****** Object:  Table [dbo].[APP_STATUS]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_STATUS](
	[APP_ST_CLEARING_TABLE] [bit] NULL,
	[APP_ST_FETCHING_DATA] [bit] NULL,
	[APP_ST_DUMPING_DATA] [bit] NULL,
	[APP_ST_FETCH_DATA_TIME] [bigint] NULL,
	[APP_ST_DUMP_DATA_TIME] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_SYMBOL] [varchar](200) NULL,
	[C_NAME] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURRENT_MARKET_SUMMARY]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENT_MARKET_SUMMARY](
	[CMS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMS_SECTOR] [varchar](max) NULL,
	[CMS_SCRIP_NAME] [varchar](max) NOT NULL,
	[CMS_SYMBOL] [varchar](max) NULL,
	[CMS_LDCP] [decimal](18, 2) NULL,
	[CMS_OPEN] [decimal](18, 2) NULL,
	[CMS_HIGH] [decimal](18, 2) NULL,
	[CMS_LOW] [decimal](18, 2) NULL,
	[CMS_CURRENT] [decimal](18, 2) NULL,
	[CMS_CHANGE] [float] NULL,
	[CMS_VOLUME] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUND]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUND](
	[FUND_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FUND_CODE] [int] NULL,
	[FUND_NAME] [varchar](500) NULL,
	[FUND_SYMBOL] [varchar](500) NULL,
	[FUND_DESC] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUND_MARKET_SUMMARY]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUND_MARKET_SUMMARY](
	[SHR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MARKET_DATE] [datetime] NULL,
	[MARKET_STATUS] [varchar](500) NULL,
	[FUND_ID] [bigint] NULL,
	[FUND_NAME] [varchar](max) NULL,
	[SHR_NAME] [varchar](max) NULL,
	[SHR_SYMBOL] [varchar](500) NULL,
	[SHR_QUANTITY] [decimal](18, 0) NULL,
	[SHR_AVG_PRICE] [decimal](18, 0) NULL,
	[SHR_BOOK_COST] [decimal](18, 0) NULL,
	[SHR_MARKET_PRICE] [decimal](18, 0) NULL,
	[SHR_MARKET_VALUE] [decimal](18, 0) NULL,
	[SHR_APP_DEP] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SHR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketSummaryHistory]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketSummaryHistory](
	[MS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MS_DATE] [datetime] NULL,
	[MS_STATUS] [varchar](500) NULL,
	[MS_SECTOR] [varchar](500) NULL,
	[MS_COMPANY_NAME] [varchar](500) NULL,
	[MS_COMPANY_SYMBOL] [varchar](500) NULL,
	[MS_COMPANY_LDCP] [float] NULL,
	[MS_COMPANY_OPEN] [float] NULL,
	[MS_COMPANY_HIGH] [float] NULL,
	[MS_COMPANY_LOW] [float] NULL,
	[MS_COMPANY_CURRENT] [float] NULL,
	[MS_COMPANY_CHANGE] [float] NULL,
	[MS_COMPANY_VOLUME] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketSummaryOverview]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketSummaryOverview](
	[MS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MS_DATE] [datetime] NULL,
	[MS_STATUS] [varchar](300) NULL,
	[MS_VOLUME] [float] NULL,
	[MS_VALUE] [float] NULL,
	[MS_TRADES] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketSummaryOverviewHistory]    Script Date: 10/14/2020 9:51:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketSummaryOverviewHistory](
	[MS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MS_DATE] [datetime] NULL,
	[MS_SYS_DATE] [datetime] NULL,
	[MS_STATUS] [varchar](300) NULL,
	[MS_VOLUME] [float] NULL,
	[MS_VALUE] [float] NULL,
	[MS_TRADES] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([C_ID], [C_SYMBOL], [C_NAME]) VALUES (201, N'IBLHL', N'IBL HealthCare Limited.')
INSERT [dbo].[Company] ([C_ID], [C_SYMBOL], [C_NAME]) VALUES (202, N'MACTER', N'Macter International Limited.')
INSERT [dbo].[Company] ([C_ID], [C_SYMBOL], [C_NAME]) VALUES (203, N'SEARL', N'The Searle Company Ltd.')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[CURRENT_MARKET_SUMMARY] ON 

INSERT [dbo].[CURRENT_MARKET_SUMMARY] ([CMS_ID], [CMS_SECTOR], [CMS_SCRIP_NAME], [CMS_SYMBOL], [CMS_LDCP], [CMS_OPEN], [CMS_HIGH], [CMS_LOW], [CMS_CURRENT], [CMS_CHANGE], [CMS_VOLUME]) VALUES (1, N'', N'Al-Ghazi Tractors Limited. ', N'AGTL', CAST(361.00 AS Decimal(18, 2)), CAST(361.00 AS Decimal(18, 2)), CAST(370.00 AS Decimal(18, 2)), CAST(361.00 AS Decimal(18, 2)), CAST(370.00 AS Decimal(18, 2)), 9.15, CAST(2200.00 AS Decimal(18, 2)))
INSERT [dbo].[CURRENT_MARKET_SUMMARY] ([CMS_ID], [CMS_SECTOR], [CMS_SCRIP_NAME], [CMS_SYMBOL], [CMS_LDCP], [CMS_OPEN], [CMS_HIGH], [CMS_LOW], [CMS_CURRENT], [CMS_CHANGE], [CMS_VOLUME]) VALUES (2, N'', N'Atlas Honda Limited. ', N'ATLH', CAST(422.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)), -2.09, CAST(700.00 AS Decimal(18, 2)))
INSERT [dbo].[CURRENT_MARKET_SUMMARY] ([CMS_ID], [CMS_SECTOR], [CMS_SCRIP_NAME], [CMS_SYMBOL], [CMS_LDCP], [CMS_OPEN], [CMS_HIGH], [CMS_LOW], [CMS_CURRENT], [CMS_CHANGE], [CMS_VOLUME]) VALUES (3, N'', N'Dewan Farooque Motors Limited [ DEFAULTER SEGMENT ]', N'DFML', CAST(7.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), -0.07, CAST(63500.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[CURRENT_MARKET_SUMMARY] OFF
GO
SET IDENTITY_INSERT [dbo].[FUND] ON 

INSERT [dbo].[FUND] ([FUND_ID], [FUND_CODE], [FUND_NAME], [FUND_SYMBOL], [FUND_DESC]) VALUES (1, 5, N'A FUND', N'AFUND', N'Dummy Fund')
INSERT [dbo].[FUND] ([FUND_ID], [FUND_CODE], [FUND_NAME], [FUND_SYMBOL], [FUND_DESC]) VALUES (2, 13, N'B FUND', N'B FUND', N'Dummy Fund')
INSERT [dbo].[FUND] ([FUND_ID], [FUND_CODE], [FUND_NAME], [FUND_SYMBOL], [FUND_DESC]) VALUES (5, 34, N'C Fund', N'C Fund', N'C Fund')
SET IDENTITY_INSERT [dbo].[FUND] OFF
GO
SET IDENTITY_INSERT [dbo].[FUND_MARKET_SUMMARY] ON 

INSERT [dbo].[FUND_MARKET_SUMMARY] ([SHR_ID], [MARKET_DATE], [MARKET_STATUS], [FUND_ID], [FUND_NAME], [SHR_NAME], [SHR_SYMBOL], [SHR_QUANTITY], [SHR_AVG_PRICE], [SHR_BOOK_COST], [SHR_MARKET_PRICE], [SHR_MARKET_VALUE], [SHR_APP_DEP]) VALUES (1, CAST(N'2020-10-13T16:38:53.277' AS DateTime), N'SUSPENDED', 34, N'AGISTR', N'Hub Power Company', N'HUBC', CAST(1104695 AS Decimal(18, 0)), CAST(89 AS Decimal(18, 0)), CAST(98105260 AS Decimal(18, 0)), CAST(76 AS Decimal(18, 0)), CAST(84056243 AS Decimal(18, 0)), N'-14049017.21133500')
INSERT [dbo].[FUND_MARKET_SUMMARY] ([SHR_ID], [MARKET_DATE], [MARKET_STATUS], [FUND_ID], [FUND_NAME], [SHR_NAME], [SHR_SYMBOL], [SHR_QUANTITY], [SHR_AVG_PRICE], [SHR_BOOK_COST], [SHR_MARKET_PRICE], [SHR_MARKET_VALUE], [SHR_APP_DEP]) VALUES (2, CAST(N'2020-10-13T16:38:53.280' AS DateTime), N'SUSPENDED', 34, N'AGISTR', N'Pakistan State Oil', N'PSO', CAST(549586 AS Decimal(18, 0)), CAST(180 AS Decimal(18, 0)), CAST(98920287 AS Decimal(18, 0)), CAST(207 AS Decimal(18, 0)), CAST(113747814 AS Decimal(18, 0)), N'14827527.45811400')
INSERT [dbo].[FUND_MARKET_SUMMARY] ([SHR_ID], [MARKET_DATE], [MARKET_STATUS], [FUND_ID], [FUND_NAME], [SHR_NAME], [SHR_SYMBOL], [SHR_QUANTITY], [SHR_AVG_PRICE], [SHR_BOOK_COST], [SHR_MARKET_PRICE], [SHR_MARKET_VALUE], [SHR_APP_DEP]) VALUES (3, CAST(N'2020-10-13T16:38:53.283' AS DateTime), N'SUSPENDED', 34, N'AGISTR', N'D. G. Khan Cement', N'DGKC', CAST(572640 AS Decimal(18, 0)), CAST(89 AS Decimal(18, 0)), CAST(50847702 AS Decimal(18, 0)), CAST(107 AS Decimal(18, 0)), CAST(61049150 AS Decimal(18, 0)), N'10201448.74752000')
SET IDENTITY_INSERT [dbo].[FUND_MARKET_SUMMARY] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketSummaryHistory] ON 

INSERT [dbo].[MarketSummaryHistory] ([MS_ID], [MS_DATE], [MS_STATUS], [MS_SECTOR], [MS_COMPANY_NAME], [MS_COMPANY_SYMBOL], [MS_COMPANY_LDCP], [MS_COMPANY_OPEN], [MS_COMPANY_HIGH], [MS_COMPANY_LOW], [MS_COMPANY_CURRENT], [MS_COMPANY_CHANGE], [MS_COMPANY_VOLUME]) VALUES (1, CAST(N'2020-08-24T16:11:01.000' AS DateTime), N' AUTOMOBILE ASSEMBLER
', N'PostClose', N'Al-Ghazi Tractors Limited. ', N'Al-Ghazi Tractors Limited. ', 402.31, 397.55, 407.5, 397.5, 407.5, 5.19, 3400)
INSERT [dbo].[MarketSummaryHistory] ([MS_ID], [MS_DATE], [MS_STATUS], [MS_SECTOR], [MS_COMPANY_NAME], [MS_COMPANY_SYMBOL], [MS_COMPANY_LDCP], [MS_COMPANY_OPEN], [MS_COMPANY_HIGH], [MS_COMPANY_LOW], [MS_COMPANY_CURRENT], [MS_COMPANY_CHANGE], [MS_COMPANY_VOLUME]) VALUES (2, CAST(N'2020-08-24T16:11:01.000' AS DateTime), N' AUTOMOBILE ASSEMBLER
', N'PostClose', N'Atlas Honda Limited. ', N'Atlas Honda Limited. ', 440, 438, 439.9, 397.5, 439.9, -0.1, 300)
INSERT [dbo].[MarketSummaryHistory] ([MS_ID], [MS_DATE], [MS_STATUS], [MS_SECTOR], [MS_COMPANY_NAME], [MS_COMPANY_SYMBOL], [MS_COMPANY_LDCP], [MS_COMPANY_OPEN], [MS_COMPANY_HIGH], [MS_COMPANY_LOW], [MS_COMPANY_CURRENT], [MS_COMPANY_CHANGE], [MS_COMPANY_VOLUME]) VALUES (3, CAST(N'2020-08-24T16:11:01.000' AS DateTime), N' AUTOMOBILE ASSEMBLER
', N'PostClose', N'Dewan Farooque Motors Limited [ DEFAULTER SEGMENT ]', N'Dewan Farooque Motors Limited [ DEFAULTER SEGMENT ]', 5.99, 6.14, 6.14, 397.5, 6.04, 0.02, 324000)
GO
SET IDENTITY_INSERT [dbo].[MarketSummaryHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketSummaryOverview] ON 

INSERT [dbo].[MarketSummaryOverview] ([MS_ID], [MS_DATE], [MS_STATUS], [MS_VOLUME], [MS_VALUE], [MS_TRADES]) VALUES (1, CAST(N'2020-08-24T16:11:01.000' AS DateTime), N'PostClose', 14928791062, 371688649, 135910)
SET IDENTITY_INSERT [dbo].[MarketSummaryOverview] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketSummaryOverviewHistory] ON 

INSERT [dbo].[MarketSummaryOverviewHistory] ([MS_ID], [MS_DATE], [MS_SYS_DATE], [MS_STATUS], [MS_VOLUME], [MS_VALUE], [MS_TRADES]) VALUES (1, CAST(N'2020-08-24T16:11:01.000' AS DateTime), CAST(N'2020-08-24T04:11:57.877' AS DateTime), N'PostClose', 14928791062, 371688649, 135910)
SET IDENTITY_INSERT [dbo].[MarketSummaryOverviewHistory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FUND__D9E8960E74F68395]    Script Date: 10/14/2020 9:51:40 AM ******/
ALTER TABLE [dbo].[FUND] ADD UNIQUE NONCLUSTERED 
(
	[FUND_SYMBOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FUND__F30D047ECE7EE0D6]    Script Date: 10/14/2020 9:51:40 AM ******/
ALTER TABLE [dbo].[FUND] ADD UNIQUE NONCLUSTERED 
(
	[FUND_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FUND] ADD  DEFAULT ((0)) FOR [FUND_CODE]
GO
ALTER TABLE [dbo].[FUND_MARKET_SUMMARY] ADD  DEFAULT (getdate()) FOR [MARKET_DATE]
GO
/****** Object:  StoredProcedure [dbo].[ClearFundMarketTable]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ClearFundMarketTable]
AS
BEGIN
	TRUNCATE TABLE FUND_MARKET_SUMMARY
	TRUNCATE TABLE CURRENT_MARKET_SUMMARY
END
GO
/****** Object:  StoredProcedure [dbo].[ClearTableData]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ClearTableData]
AS
BEGIN
TRUNCATE TABLE MarketSummary

TRUNCATE TABLE MarketSummaryHistory

TRUNCATE TABLE MarketSummaryOverview

TRUNCATE TABLE MarketSummaryOverviewHistory
END
GO
/****** Object:  StoredProcedure [dbo].[spClearCurrentMarketSummary]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spClearCurrentMarketSummary]
AS
BEGIN
	TRUNCATE TABLE [CURRENT_MARKET_SUMMARY]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetFund]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetFund]
AS
BEGIN
SELECT [FUND_ID]
      ,[FUND_NAME]
      ,[FUND_SYMBOL]
      ,[FUND_DESC]
  FROM [dbo].[FUND]

--SELECT [fund_code]
--      ,[fund_name]
--  FROM [ipams_db].[dbo].[pms_funds] order by fund_code
END
GO
/****** Object:  StoredProcedure [dbo].[spGetFundIDByParamNAME]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetFundIDByParamNAME]
		@FUND_NAME varchar(500)
		AS
		BEGIN
		DECLARE @CODE int
	SELECT @CODE = [FUND_CODE] FROM [dbo].[FUND] WHERE [FUND_NAME] = @FUND_NAME
	if @CODE IS NULL
			 SELECT 0 AS [FUND_CODE] 
	else
			 SELECT @CODE AS [FUND_CODE] 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetShareDetailByParamFundIdAndDate]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[spGetShareDetailByParamFundIdAndDate]
		@FUND_ID int,
		@DATE date
AS
BEGIN
select share_name, share_symbol,  
(select max(movAvg_tranDate)  from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID and movAvg_tranDate<@DATE ) as DateCostLastUpdated,

(select movAvg_average from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID
and movAvg_tranDate = (select max(movAvg_tranDate)  from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID and movAvg_tranDate<@DATE)
) as LastUpdatedPerUnitCost,

(select movAvg_amtMov from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID
and movAvg_tranDate = (select max(movAvg_tranDate)  from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID and movAvg_tranDate<@DATE)
) as LastUpdatedCost,

 (select movAvg_qty from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID
and movAvg_tranDate = (select max(movAvg_tranDate)  from pms_movingAvg
where pms_movingAvg.tradInstType_code=1 and pms_movingAvg.tradInst_code = share_code and pms_movingAvg.fund_code=@FUND_ID and movAvg_tranDate<@DATE)
) as LastUpdatedHolding,

(select DMP_date from pms_securityDMPrice
where pms_securityDMPrice.tradInstType_code=1 and pms_securityDMPrice.tradInst_code = share_code
and DMP_date = (select max(DMP_date)  from pms_securityDMPrice
where pms_securityDMPrice.tradInstType_code=1 and pms_securityDMPrice.tradInst_code = share_code and DMP_date  < @DATE)
) as LastUpdatedMarketPriceDate


  
from pms_shares

END
GO
/****** Object:  StoredProcedure [dbo].[spGetSymbolFromCompanyName]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetSymbolFromCompanyName]
		@CompanyName varchar(500)
		AS
		BEGIN
		DECLARE @value varchar(500)
			SELECT @value = C_SYMBOL FROM COMPANY WHERE C_NAME = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@CompanyName,'(XD)',''),'(XR)',''),'(XB)',''),'(XDXB)',''),' [ DEFAULTER SEGMENT ]',''),'(R)','')
			if @value is null
			 SELECT 'Nil' AS C_SYMBOL 
			else
			   SELECT @value AS C_SYMBOL
		END
GO
/****** Object:  StoredProcedure [dbo].[spInsertCompany]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertCompany]
	@SYMBOL varchar(200),
	@NAME varchar(MAX)
AS
BEGIN
INSERT INTO [dbo].[Company]
           ([C_SYMBOL]
           ,[C_NAME])
     VALUES
           (@SYMBOL
           ,@NAME)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertCurrentMarketSummary]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertCurrentMarketSummary]
		@CMS_SECTOR varchar(MAX),
		@CMS_SCRIP_NAME varchar(MAX),
		@CMS_SYMBOL varchar(MAX),
		@CMS_LDCP decimal,
		@CMS_OPEN decimal,
		@CMS_HIGH decimal,
		@CMS_LOW decimal,
		@CMS_CURRENT decimal,
		@CMS_CHANGE float,
		@CMS_VOLUME decimal
AS
BEGIN
INSERT INTO [dbo].[CURRENT_MARKET_SUMMARY]
           ([CMS_SECTOR]
           ,[CMS_SCRIP_NAME]
           ,[CMS_SYMBOL]
           ,[CMS_LDCP]
           ,[CMS_OPEN]
           ,[CMS_HIGH]
           ,[CMS_LOW]
           ,[CMS_CURRENT]
           ,[CMS_CHANGE]
           ,[CMS_VOLUME])
     VALUES
           (@CMS_SECTOR
           ,@CMS_SCRIP_NAME
           ,@CMS_SYMBOL
           ,@CMS_LDCP
           ,@CMS_OPEN
           ,@CMS_HIGH
           ,@CMS_LOW
           ,@CMS_CURRENT
           ,@CMS_CHANGE
           ,@CMS_VOLUME)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertFund]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertFund]
		@FUND_CODE int,
		@FUND_NAME varchar(500),
		@FUND_SYMBOL varchar(500),
		@FUND_DESC varchar(max)
		AS
		BEGIN
INSERT INTO [dbo].[FUND]
           ([FUND_CODE]
		   ,[FUND_NAME]
           ,[FUND_SYMBOL]
           ,[FUND_DESC])
     VALUES
           (@FUND_CODE
		   ,@FUND_NAME
           ,@FUND_SYMBOL
           ,@FUND_DESC)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertFundMarketSummary]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertFundMarketSummary]
			@MARKET_STATUS varchar(500),
			@FUND_ID bigint,
			@FUND_NAME varchar(MAX),
			@SHR_NAME varchar(MAX),
			@SHR_SYMBOL varchar(500),
			@SHR_QUANTITY decimal,
			@SHR_AVG_PRICE decimal,
			@SHR_BOOK_COST decimal,
			@SHR_MARKET_PRICE decimal,
			@SHR_MARKET_VALUE decimal,
			@SHR_APP_DEP varchar(MAX)
AS
BEGIN
INSERT INTO [dbo].[FUND_MARKET_SUMMARY]
           ([MARKET_STATUS]
		   ,[FUND_ID]
		   ,[FUND_NAME]
           ,[SHR_NAME]
           ,[SHR_SYMBOL]
           ,[SHR_QUANTITY]
           ,[SHR_AVG_PRICE]
           ,[SHR_BOOK_COST]
           ,[SHR_MARKET_PRICE]
           ,[SHR_MARKET_VALUE]
           ,[SHR_APP_DEP])
     VALUES
           (@MARKET_STATUS
		   ,@FUND_ID
		   ,@FUND_NAME
           ,@SHR_NAME
           ,@SHR_SYMBOL
           ,@SHR_QUANTITY
           ,@SHR_AVG_PRICE
           ,@SHR_BOOK_COST
           ,@SHR_MARKET_PRICE
           ,@SHR_MARKET_VALUE
           ,@SHR_APP_DEP)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertMarketSummary]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertMarketSummary] 
		@COMPANY_NAME varchar(300),
		@COMPANY_SYMBOL varchar(300),
		@COMPANY_LDCP float,
		@COMPANY_OPEN float,
		@COMPANY_HIGH float,
		@COMPANY_LOW float,
		@COMPANY_CURRENT float,
		@COMPANY_CHANGE float,
		@COMPANY_VOLUME float
	AS
BEGIN

INSERT INTO [dbo].[MarketSummary]
           ([MS_COMPANY_NAME]
           ,[MS_COMPANY_SYMBOL]
           ,[MS_COMPANY_LDCP]
           ,[MS_COMPANY_OPEN]
           ,[MS_COMPANY_HIGH]
           ,[MS_COMPANY_LOW]
           ,[MS_COMPANY_CURRENT]
           ,[MS_COMPANY_CHANGE]
           ,[MS_COMPANY_VOLUME])
     VALUES
           (@COMPANY_NAME
           ,@COMPANY_SYMBOL
           ,@COMPANY_LDCP
           ,@COMPANY_OPEN
           ,@COMPANY_HIGH 
           ,@COMPANY_LOW
           ,@COMPANY_CURRENT
           ,@COMPANY_CHANGE
           ,@COMPANY_VOLUME)
END


GO
/****** Object:  StoredProcedure [dbo].[spInsertMarketSummaryHistory]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertMarketSummaryHistory]
		@DATE datetime,
		@STATUS varchar(500),
		@SECTOR varchar(500),
		@COMPANY_NAME varchar(500),
		@COMPANY_SYMBOL varchar(500),
		@COMPANY_LDCP float,
		@COMPANY_OPEN float,
		@COMPANY_HIGH float,
		@COMPANY_LOW float,
		@COMPANY_CURRENT float,
		@COMPANY_CHANGE float,
		@COMPANY_VOLUME float
	AS
BEGIN
INSERT INTO [dbo].[MarketSummaryHistory]
           ([MS_DATE]
           ,[MS_STATUS]
           ,[MS_SECTOR]
           ,[MS_COMPANY_NAME]
           ,[MS_COMPANY_SYMBOL]
           ,[MS_COMPANY_LDCP]
           ,[MS_COMPANY_OPEN]
           ,[MS_COMPANY_HIGH]
           ,[MS_COMPANY_LOW]
           ,[MS_COMPANY_CURRENT]
           ,[MS_COMPANY_CHANGE]
           ,[MS_COMPANY_VOLUME])
     VALUES
           (@DATE
           ,@SECTOR
           ,@STATUS
           ,@COMPANY_NAME
           ,@COMPANY_SYMBOL
           ,@COMPANY_LDCP
           ,@COMPANY_OPEN
           ,@COMPANY_HIGH 
           ,@COMPANY_LOW
           ,@COMPANY_CURRENT
           ,@COMPANY_CHANGE
           ,@COMPANY_VOLUME)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertMarketSummaryOverview]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertMarketSummaryOverview]
		@DATE DATETIME,
		@STATUS varchar(300),
		@VOLUME float,
		@VALUE float,
		@TRADES float
		AS
		BEGIN
INSERT INTO [dbo].[MarketSummaryOverview]
           ([MS_DATE]
           ,[MS_STATUS]
           ,[MS_VOLUME]
           ,[MS_VALUE]
           ,[MS_TRADES])
     VALUES
           (@DATE
           ,@STATUS
           ,@VOLUME
           ,@VALUE
           ,@TRADES)
END


GO
/****** Object:  StoredProcedure [dbo].[spInsertMarketSummaryOverviewHistory]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsertMarketSummaryOverviewHistory]
		@DATE DATETIME,
		@STATUS varchar(300),
		@VOLUME float,
		@VALUE float,
		@TRADES float
		AS
		BEGIN
INSERT INTO [dbo].[MarketSummaryOverviewHistory]
            ([MS_DATE]
           ,[MS_SYS_DATE]
           ,[MS_STATUS]
           ,[MS_VOLUME]
           ,[MS_VALUE]
           ,[MS_TRADES])
     VALUES
           (@DATE
           ,GETDATE()
           ,@STATUS
           ,@VOLUME
           ,@VALUE
           ,@TRADES)
END


GO
/****** Object:  StoredProcedure [dbo].[spIsGetCompanySymbolExist]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spIsGetCompanySymbolExist]
		@SYMBOL varchar(500)
		AS
BEGIN
	DECLARE @Count bigint;
	SELECT @Count = COUNT(*) FROM [Company] WHERE [C_SYMBOL] = @SYMBOL 
	SELECT @Count AS [FUND_EXIST]
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateMarketSummary]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdateMarketSummary] 
		@COMPANY_NAME varchar(300),
		@COMPANY_SYMBOL varchar(300),
		@COMPANY_LDCP float,
		@COMPANY_OPEN float,
		@COMPANY_HIGH float,
		@COMPANY_LOW float,
		@COMPANY_CURRENT float,
		@COMPANY_CHANGE float,
		@COMPANY_VOLUME float
	AS
BEGIN
UPDATE [dbo].[MarketSummary]
   SET
      [MS_COMPANY_SYMBOL] = @COMPANY_SYMBOL
      ,[MS_COMPANY_LDCP] = @COMPANY_LDCP
      ,[MS_COMPANY_OPEN] = @COMPANY_OPEN
      ,[MS_COMPANY_HIGH] = @COMPANY_HIGH
      ,[MS_COMPANY_LOW] = @COMPANY_LOW 
      ,[MS_COMPANY_CURRENT] = @COMPANY_CURRENT
      ,[MS_COMPANY_CHANGE] = @COMPANY_CHANGE
      ,[MS_COMPANY_VOLUME] = @COMPANY_VOLUME
 WHERE [MS_COMPANY_NAME] = @COMPANY_NAME
END


GO
/****** Object:  StoredProcedure [dbo].[spUpdateMarketSummaryOverview]    Script Date: 10/14/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdateMarketSummaryOverview]
		@DATE DATETIME,
		@STATUS varchar(300),
		@VOLUME float,
		@VALUE float,
		@TRADES float
		AS
		BEGIN
UPDATE [dbo].[MarketSummaryOverview]
   SET [MS_DATE] = @DATE
      ,[MS_STATUS] = @STATUS
      ,[MS_VOLUME] = @VOLUME
      ,[MS_VALUE] = @VALUE
      ,[MS_TRADES] = @TRADES
 WHERE MS_ID = 1
END
GO
USE [master]
GO
